.select-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 32px;
    float: none;
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    width: 250px;
}

.pad-left {
    padding-left: 31px;	
}