@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	min-width: 800px;
	text-align: left;
}
#freeText {
	position:absolute;
	left:11px;
	top:18px;
	width:102px;
	height:53px;
	z-index:1;
	font-size: 12px;
	text-align: center;
}
#uploadLogo {
	position:absolute;
	left:124px;
	top:14px;
	width:79px;
	height:58px;
	z-index:1;
}
.header {
	background-color: #000000;
	height: 86px;
	background-image: url(../images/header_back.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.hTitle {
	background-image: url(../images/header_title.gif);
	height: 86px;
	width: 670px;

}
.fldContainer {
 	position:relative;
 	min-width:400px;
 	max-width:860px;
 	margin-left:12px;
}

.fldContainer .fcTop,
.fldContainer .fcTopLeft,
.fldContainer .fcBottom,
.fldContainer .fcBottom div {
	background: url(../images/background.gif) no-repeat top right;
}

.fldContainer .fcTop {
	position:relative;
	padding:0px 12px 0px 0px;
	min-height:180px;
	display: block;
}

.fldContainer .fcTopLeft {
	position:absolute;
	left:0px;
	top:0px;
	width:12px;
	margin-left:-12px;
	height:100%;
	background-position:top left;
}

.fldContainer .fcBottom {
	background-position:bottom right;
	position:relative;
	width:100%;
	height:30px;	
}

.fldContainer .fcBottomLeft {
	height:30px;
	display: block;
}

.fldContainer .fcBottom div {
	position:relative;
	width:12px;
	margin-left:-12px;
	background-position:bottom left;
}
.pageTitle {
	font-size: 32px;
	color: #d2d2d2;
	margin-bottom: 10px;
	margin-top: 15px;
}
.pageDescription {
	font-size: 12px;
	color: #333333;
	margin-bottom: 20px;
	width: 860px;
}
.pageContent {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}
.navContainer {
	height: 32px;
}
.div {
	text-align: left;
}
.fldLabel {
	font-weight: bold;
	font-size: 14px;
	color: #666666;

}
.submitButton {
	display: block;
	background-image: url(../images/submitButtonBack.gif);
	background-repeat: repeat-x;
	height: 62px;
	background-position: right top;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 60px;
	text-decoration: none;
	margin-left:-13px;
	text-shadow: 0 0 0 #000;
}
.submitButton:hover {
	background-image: url(../images/submitButtonBackOver.gif);
}

.submitButton .bl{
	width: 36px;
	background-image: url(../images/submitButtonLeft.gif);
	height: 62px;
	float: left;
}

.pageFooter {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 13px;
	padding-right: 13px;
}
.pageFooter a{
	color: #333333;
	text-decoration: none;
}
.pageFooter a:hover{
	color: #666666;
	text-decoration: underline;
}
.displayTable {
	background-color: #CCCCCC;
} 
.displayTable th{
	border: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
	background-image: url(../images/table_header_back.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-shadow: 0 0 0 #000;	
}
.displayTable td{
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.displayTable .altRow td {
	background-color: #f6f5ed;
}
