<div class="row-holder">    
  <div>
    <form #problemForm="ngForm">
      <div class="inline-value">{{problem.attributeLabel}}</div>    
      <div class="inline-value error-message">{{problem.label}}</div>
      <div *ngIf="!problem.resolved">      
        <div class="inline-text">
          <term-field [(model)]="problem.synonym" [attribute]="problem.label + '-category'" [root]="problem.categoryId" [mdAttributeId]="problem.mdAttributeId"></term-field>
        </div>
        <div class="inline-actions">
          <i aria-hidden="true" class="fa fa-lg fa-share-alt" (ngClass)="{disabled: (this.problem.synonym.id != '')}" (click)="createSynonym()" [title]="'dataUploader.createSynonymCategoryTooltip' | localize" ></i>
          <i aria-hidden="true"  class="fa fa-lg fa-map-marker" (click)="createOption()" [title]="'dataUploader.createNewOptionTooltip' | localize" ></i>          
          <span class="fa-stack fa-lg" [title]="'dataUploader.ignoreCategoryTooltip' | localize" (click)="ignoreValue()">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x"></i>
          </span>
        </div>
      </div>
      <div *ngIf="problem.resolved">
        <div class="inline-combo" *ngIf="problem.action.name == 'OPTION'">
          <localize key="dataUploader.resolvedCategoryOption"></localize>
        </div>            
        <div class="inline-combo" *ngIf="problem.action.name == 'SYNONYM'">
          <localize key="dataUploader.resolvedSynonym"></localize> [{{problem.action.label}}]
        </div> 
        <div class="inline-combo" *ngIf="problem.action.name == 'IGNORE'">
          <localize key="dataUploader.resolvedIgnoreCategory"></localize> [{{problem.label}}]
        </div> 
        <div class="inline-actions">    
          <i class="fa fa-undo" (click)="undoAction()" [title]="'dataUploader.undoFixedCategoryTooltip' | localize" ></i> 
        </div>
      </div>
    </form>
  </div>
</div>