/** 
* 
* REPORTS 
*
*/

.report-height-toggle{
  cursor: pointer;
  color: black;
}
.report-height-toggle:hover,
.report-height-toggle:focus{
  color: #00bfff;
}

#report-expand-toggle{
  font-size: 20px;
}

#report-collapse-toggle{
  font-size: 20px;
}

#reporticng-container {
  z-index: 5;
}

#report-viewport.opaque {
  background: white;  
}

#report-viewport.translucent {
  background: rgba(0,0,0,0.8);  
}

#report-viewport embed {
  pointer-events: none;	
}

.report-toolbar {
  border-top: 1px solid #000;
  margin-right: 300px;
  left: 0px;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 1);
  padding: 5px;
  color: #000;
}

.report-toggle-container{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -24px;
  width: 70px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-bottom: none;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.report-toggle-container.maxed{
  top: 15px;
  border-bottom: 1px solid;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-top: none;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}

.report-toolbar a {
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgb(0, 0, 0);
}

/* reporting container style */
.reporticng-container{
  position:fixed;
  left:0;
  height:30px;   
  bottom:-30px;   
  width:100%;
  background: none;
  margin: 0;
}

.reporting-toggle-button{
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 35%;
  background: rgba(0,0,0,0.8);
  border: solid black 2px;
  color: #fff;
  width: 150px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.reporting-toggle-button:hover{
  color:#00bfff;
}

.report-viewport{
  height: 0px;
  border-top: 1px solid #000;
  overflow-y: scroll;
  margin-right: 300px;
  left: 0px;
  padding: 5px;
}

.rg-top {
	cursor: row-resize;
	width: 100%;
	top: 10px;
	left: 0;
	margin-top: -14px;
}

.h-report-toolbar {
	position: absolute;
	border-right: 1px solid #000;
	top: 0px;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 1);
	padding: 5px;
	color: #000;
	height: 100%;
	left: -30;
}

.h-report-toggle-container {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top: 48%;
	right: -40px;
	height: 50px;
	width: 25px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid;
	border-left: none;
	border-right-top-radius: 3px;
	border-right-left-radius: 3px;
}

.h-report-toggle-container.maxed{
  right: 15px;
  border-left: 1px solid;
  border-right-top-radius:0px;
  border-right-left-radius:0px;
  border-right: none;
  border-left-top-radius:3px;
  border-left-left-radius:3px;
}

.h-report-toolbar a {
  color: #000;
  padding-top: 10px;
  padding-left: 10px;
  border-left: 1px solid rgb(0, 0, 0);
}

/* reporting container style */
.h-reporticng-container{
  position:fixed;
  top:0;
  width:0px;   
  left:0px;   
  height:100%;
  background: none;
  margin: 0;
}

.h-reporting-toggle-button{
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 35%;
  background: rgba(0,0,0,0.8);
  border: solid black 2px;
  color: #fff;
  height: 150px;
  cursor: pointer;
  border-right-left-radius: 5px;
  border-right-top-radius: 5px;
}

.h-reporting-toggle-button:hover{
  color:#00bfff;
}

.h-report-viewport{
  width: 0px;
  border-right: 1px solid #000;
  overflow-x: scroll;
  margin-bottom: 300px;
  top: 0px;
  padding: 5px;
  height: 100%;
}

.rg-right {
	cursor: col-resize;
	height: 100%;
	right: 0px;
	top: 0;
	margin-right: -14px;
	background: rgba(255, 255, 255, 1);	
	border-right: 1px solid #000;	
}