<!--
  Copyright (C) 2018 IVCC
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
123<cruisecontrol>
    <project name="MDSS">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <antbootstrapper anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/cc-build.xml" target="clean" />
        </bootstrappers>
  <!--
        <modificationset quietperiod="30">
           touch any file in connectfour project to trigger a build 
            <filesystem folder="projects/${project.name}"/>
        </modificationset>
-->
        <schedule interval="300">
            <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/cc-build.xml"/>
        </schedule>

        <log>
		<merge dir="projects/${project.name}/scripts/ant/deploy/test-results"/>
        </log>

<!--
        <publishers>
        
            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" file="projects/${project.name}/target/${project.name}.jar"/>
            </onsuccess>
        </publishers>
-->
    </project>
</cruisecontrol>
