<template #customItemTemplate let-model="item" let-index="index">
  <h5>{{model.text}}</h5>
</template>

<div id="app-container" class="container">
  <message ></message>

  <h3><localize key="geo.mappings.header"></localize></h3>
  <tree-root [nodes]="nodes" [options]="options">
    <template #treeNodeTemplate let-node let-index="index">
      <div style="width: 100%">
        <boolean-field [(value)]="node.data.confirmed" (valueChange)="toggle(node.data, $event)" [disabled]="node.data.orgId == null"></boolean-field>
        <span>{{ node.data.name }}</span>
        <span class="text autobox">
          <input type="text" [(ngModel)]="node.data.orgLabel" style="width: 250px" autocomplete="off" [disabled]="node.data.confirmed"
            [typeahead]="setup(node.data)"
            typeaheadMinLength="2"            
            [typeaheadItemTemplate]="customItemTemplate"            
            typeaheadOptionField="text"
            (typeaheadOnSelect)="onSelect(node.data, $event)">
        </span>
      </div>
    </template>
  </tree-root>
</div>