@charset "utf-8";

/* CSS Document */
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 800px;
  text-align: left;
}

#header {
  background-color: #000000;
  color: #000000;
  height: 86px;
  border-top: 5px solid black;
}

#headerleft {
  -moz-border-radius: 10px;
  height: 58px;
  width: 200px;
  margin: 0 0 0 5px;
  padding: 22px 5px 0 5px;
  position: absolute;
  background: #FFFFFF url(/DDMS/imgs/flags/current) no-repeat 95% 50%;
}

#freeText {
  width: 100px;
  text-align: center;
}

#headermiddle {
  -moz-border-radius: 10px;
  margin: 0 95px 5px 220px;
  padding: 22px 0 0 10px;
  height: 58px;
  background-color: #CA1413;
  color: #FFFFFF;
  font-size: 32px;
}

#headerright {
  -moz-border-radius: 10px;
  margin: 0 5px 0 0;
  float: right;
  height: 80px;
  width: 85px;
  color: #000000;
  background: #FFFFFF url(/DDMS/imgs/design/logo.gif) no-repeat 50% 50%;
}

/* CMR START */
#header {
  min-width: 1152px;
}

.navContainer ul {
  white-space: nowrap;
}

.yuimenubaritem {
  float: none !important;
  display: inline-block;
}

.first-of-type>.yuimenubaritem .yuimenubaritemlabel {
  border-bottom: 1px solid #FFFFFF;
}

.yuimenubaritem {
  background: url("/DDMS/imgs/design/sprite.png") repeat-x scroll 0 0 transparent;
}

.yuimenubaritemlabel {
  margin: -10px 0 0 0;
}

.first-of-type>.yuimenubaritem {
  margin: -1px 0 0 0;
}

.first-of-type>.yuimenubaritem-hassubmenu {
  margin: 0px 0 0 0;
}

/* CMR END */
.pageTitle {
  font-size: 32px;
  color: #BBB;
  margin-bottom: 10px;
  margin-top: 15px;
}

h2 {
  font-size: 18px;
  color: BLACK;
  margin-bottom: 5px;
  margin-top: 10px;
}

.pageDescription {
  font-size: 12px;
  color: #333333;
  margin-bottom: 20px;
  width: 860px;
}

.pageContent {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.navContainer {
  height: 32px;
}

.div {
  text-align: left;
}

.fldLabel {
  font-weight: bold;
  font-size: 14px;
  color: #666666;
}

.submitButtonRound {
  display: block;
  background-image: url(/DDMS/imgs/design/submitButtonBack.gif);
  background-repeat: repeat-x;
  height: 62px;
  background-position: right top;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 60px;
  text-decoration: none;
  margin-left: -13px;
  text-shadow: 0 0 0 #000;
}

.submitButtonRound:hover {
  background-image: url(/DDMS/imgs/submitButtonBackOver.gif);
}

.submitButtonRound .bl {
  width: 36px;
  background-image: url(/DDMS/imgs/submitButtonLeft.gif);
  height: 62px;
  float: left;
}

.pageFooter {
  font-size: 11px;
  color: #666666;
  margin-bottom: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  width: 100%;
  clear: both;
}

.pageFooter a {
  color: #333333;
  text-decoration: none;
}

.pageFooter a:hover {
  color: #666666;
  text-decoration: underline;
}

.displayTable {
  background-color: #CCCCCC;
}

.displayTable th {
  border: 1px solid #CCCCCC;
  padding: 5px;
  font-weight: bold;
  background-image: url(/DDMS/imgs/design/table_header_back.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #CA1413;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  text-shadow: 0 0 0 #000;
}

.yui-skin-sam .yuimenubar {
  font-size: 93%;
  line-height: 2; *
  line-height: 1.9;
  border: solid 0px #866;
  border-bottom: solid 0px #866;
  background: url(/DDMS/imgs/design/sprite.png) repeat-x 0 0;
}

.yui-skin-sam .yuimenubaritemlabel {
  border-color: #222;
  border-style: solid;
  border-width: 0px 0;
  color: #FFF;
  cursor: default;
  margin: -1px 0;
  padding: 0 10px;
  text-decoration: none;
}

.yui-skin-sam .grayed .yuimenubaritemlabel,.yui-skin-sam .grayed .yuimenuitemlabel {
  color: #A6A6A6;
}

.yui-skin-sam .yuimenubaritemlabel:visited {
  color: #FFF;
}

.yui-skin-sam .yuimenubaritemlabel-disabled {
  cursor: default;
  color: white;
  background-color: darkgrey;
}

.yui-skin-sam .yuimenubaritem-selected {
  background: url(/DDMS/imgs/design/sprite.png) repeat-x 0 -100px;
}

/*this controls the width of the menus*/
.yui-skin-sam .yuimenuitemlabel .helptext {
  margin-left: 20em;
}

#menuBar li {
  font-size: 12px;
}

#menuBar #Print a {
  background: url("/DDMS/imgs/icons/printer.png") no-repeat center;
}

label {
  font-weight: bold;
  font-size: 14px;
  color: #666666;
}

label.sublabel {
  font-style: italic;
  font-size: 12px;
}

dd {
  margin-bottom: .75em;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.evenRow {
  background-color: #f6f5ed;
  padding: 5px;
  border: 1px solid #CCCCCC;
}

.oddRow {
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  padding: 5px;
}

.integerColumn,.integerColumn input {
  text-align: right;
}

.displayTable th a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  text-shadow: 0 0 0 #000;
}

a:hover {
  outline-width: 0px;
}

#cal1Container {
  position: absolute;
  display: none;
  background-color: WHITE;
}

#cal1Container {
  margin: 1em;
}

textarea {
  width: 100%;
}

#cal1Container {
  z-index: 999999;
}

.hide {
  display: none;
}

.my-highlight-row {
  font-weight: bold;
}

.delete-button {
  cursor: pointer;
  background: transparent url(/DDMS/imgs/icons/delete.png) no-repeat center center;
  width: 16px;
  height: 16px;
}

.insert-button {
  cursor: pointer;
  background: transparent url(/DDMS/imgs/icons/add.png) no-repeat center center;
  width: 16px;
  height: 16px;
}

.yui-skin-sam .yui-dt td.align-right {
  text-align: right;
}

#ft {
  margin-top: 2em;
}

dt {
  font-weight: bold;
  margin-top: 5px;
}

h2 {
  margin-top: 1em;
}

span.linkify:hover {
  color: #0000FF;
  cursor: pointer;
}

#selectSearchComponent {
  height: 450px;
  width: 400px;
  overflow-y: scroll;
  /*margin-top: 15px;*/
  padding-right: 5px;
  float: left;
}

#searchSelection {
  width: 290px;
  height: 450px;
  overflow-y: scroll;
  /*margin-top: 15px;*/
  padding-left: 5px;
}

#queryPanel {
  width: 520px;
  height: 620px;
  border: 1px solid black;
  margin-left: 5px;
}

#mapPanel {
  width: 520px;
  height: 620px;
  border: 1px solid black;
  margin-left: 5px;
}

ul#queryItemsList>li {
  background-color: white;
  border: 1px solid black;
  padding: 5px 0px 0px 5px;
}

ul#queryItemsList li ul li {
  padding: 5px;
}

div#dateRange {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#geoAttributesSpan {
  float: right;
}

#startDateRange,#endDateRange {
  margin-left: 5px;
  margin-right: 5px;
}

dl {
  border: 2px solid #CCC;
  -moz-border-radius: 10px;
  padding: 1em;
  background: url(/DDMS/imgs/design/grad_white.png) repeat-x top right;
  background-color: #E8E8E8;
  min-width: 300px;
  max-width: 860px;
  margin-left: 0px;
  margin-bottom: 5px;
}

fieldset {
  border: 1px solid #CCC;
  -moz-border-radius: 10px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
}

input.queryButton,select.queryList,select#mapList { /*float: right;*/
  margin-top: 5px;
  margin-right: 10px;
}

select.queryList,select#mapList {
  width: 100px;
  margin-left: 10px;
}

select#mapList {
  float: left;
}

.fldContainer {
  border: 2px solid #CCC;
  -moz-border-radius: 10px;
  padding: 1em;
  background: url(/DDMS/imgs/design/grad_white.png) repeat-x top right;
  background-color: #E8E8E8;
  min-width: 300px;
  max-width: 860px;
  margin-left: 12px;
}

.alert {
  color: #BB0000;
}

.alertbox {
  border: 2px solid #ff0000;
  -moz-border-radius: 10px;
  padding: 1em;
  background: url(/DDMS/imgs/design/grad_white.png) repeat-x top right;
  background-color: #FFBBBB;
  min-width: 300px;
  max-width: 860px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.alertbox>p {
  background: url(/DDMS/imgs/icons/error_large.gif) no-repeat top left;
  min-height: 32px;
  padding-left: 40px;
}

.modalAlertBox {
  margin-top: 20px;
}

ul.geoEntityPanelList {
  margin: 5px;
}

div.thematicVariable {
  background-color: red !important;
}

.drag-hint {
  border: 1px solid black !important;
}

.dragging {
  opacity: 0.60;
  border: 1px solid gray;
  filter: "alpha(opacity=60)";
}

.activeEntity {
  color: #000000;
}

.inactiveEntity {
  color: #808080;
}

td.ygtvcell {
  padding-left: 3px; !important
}

div#querySummary {
  white-space: nowrap;
}

div#querySummary h3 {
  font-weight: bold;
  border-bottom: 1px solid black;
}

ul#columnsList {
  margin-bottom: 150px;
}

div.innerContentModal {
  height: 350px;
  overflow-y: scroll;
  padding-right: 5px;
}

div.innerContentModalLarge {
  height: 480px;
  overflow-y: scroll;
  padding-right: 5px;
}

div.yui-module div.bd form dl {
  margin-bottom: 5px;
}

ul.selectableList {
  cursor: pointer;
}

li.currentSelection {
  background-color: lightblue;
}

div.entitySearchResults {
  overflow-y: scroll;
  height: 150px;
  width: 100%;
}

span.searchMatch {
  color: green;
}

#mapContainer {
  clear: both;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0px solid black;
  margin-left: 0px;
  margin-top: 0px;
}

div.layersWrapper {
  padding: 5px;
}

div.universalList {
  margin-top: 10px;
}

div.definedLayers {
  margin-top: 10px;
}

div.definedLayers div {
  overflow-y: scroll;
  height: 350px;
}

div.definedLayers div ul {
  margin-left: 5px;
}

div.definedLayers div ul li input {
  margin-right: 5px;
}

input.bounds {
  width: 50px;
}

div.colorPickerValue {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 2px;
  cursor: pointer;
}

.dataTableSumError {
  background-color: #EEFF39;
}

#ageGroupItem li,#visibleAttributesItem li,.gridList li {
  height: 13px;
  white-space: nowrap;
  border: none !important;
}

#globalCount input {
  margin: 0px 5px 0px 5px
}

#ageGroupItem li input,#visibleAttributesItem li input,.gridList li input {
  margin-right: 5px;
}

#visibleAttributesItem li select,.gridList li select {
  margin-right: 5px;
}

.gridList {
  padding-bottom: 5px;
}

div.workarea {
  padding: 10px;
  float: left
}

ul.draglist {
  position: relative;
  width: 200px;
  height: 180px;
  background: #f7f7f7;
  border: 1px solid gray;
  list-style: none;
  margin: 0;
  padding: 5px;
}

ul.draglist li {
  margin: 1px;
  padding: 2px;
  cursor: move;
  border: 1px solid;
}

#user_actions {
  clear: both;
}

span.roleLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

div.queryItemLabel {
  
}

div.queryItemToggle {
  font-size: 10px;
}

div.scrollable {
  overflow: scroll;
  max-height: 300px;
}

.geoOpener {
  padding-left: 5px;
  vertical-align: -10%;
  cursor: pointer;
}

.ontologyOpener {
  padding-left: 5px;
  vertical-align: -35%;
  cursor: pointer;
}

#dateGroupBy {
  float: right;
}

.DatePick {
  width: 6em;
}

#queryDataTable {
  height: 95%;
  width: 100%;
  overflow: auto;
}

#paginationSection {
  border-top: 1px solid black;
  height: 5%;
  width: 100%;
  background-color: white;
  font-weight: bold;
  padding-top: 3px;
}

#paginationSection .page {
  margin-left: 5px;
  cursor: pointer;
}

#paginationSection .resultCount {
  float: right;
  margin-right: 5px;
}

#paginationSection .currentPage {
  text-decoration: underline;
}

#columnsList LI LI,#geoEntityPanelList li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 3px;
}

input.queryNumberCriteria {
  width: 30px;
}

#legendDiv {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: move;
  border: 1px solid black;
  padding: 5px;
}

#titleDiv {
  font-size: 20px;
  font-weight: bold;
  cursor: move;
}

#arrowDiv {
  cursor: move;
  width: 100px;
  height: 100px;
}

#scaleDiv {
  cursor: move;
}

.olControlScaleLine {
  bottom: 15px;
  font-size: xx-small;
}

.olControlScaleLineBottom {
  border: solid 2px black;
  border-bottom: none;
  margin-top: -2px;
  text-align: center;
}

.olControlScaleLineTop {
  border: solid 2px black;
  border-top: none;
  text-align: center;
}

div.browserWrapper {
  width: 100%;
  height: 100%;
}

div.browserBreadcrumbs {
  height: 15px;
  overflow-x: auto;
  /* white-space: nowrap; */
  cursor: pointer;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px 0px 2px 2px;
}

div.browserBack {
  display: none;
  width: 35px;
  height: 25px;
  float: left;
  padding-top: 5px;
  cursor: pointer;
}

li.termDelimeter {
  font-weight: bold;
}

div.browserBreadcrumbs ul.breadcrumbsNav {
  margin: 0px;
}

div.browserBreadcrumbs ul.breadcrumbsNav li {
  display: inline;
  list-style-type: none;
  margin: 3px;
}

div.browserBreadcrumbs ul.breadcrumbsNav li.currentBreadcrumbsNav {
  background-color: #E0FFFF;
}

div.browserBreadcrumbs ul.breadcrumbsNav li.breadcrumbNavItem {
  cursor: pointer;
}

div.browserResizeRestrict {
  max-height: 60px;
  overflow-y: auto;
  width: 376px;
}

div.browserSearch {
  height: 25px;
  padding-left: 15px;
  padding-top: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

input.browserSearchInput {
  margin-left: 5px;
  width: 250px;
}

div.browserContent {
  border-left: 1px solid black;
  border-right: 1px solid black;
  overflow: auto;
  height: 195px;
  padding-left: 15px;
  padding-top: 5px;
}

div.browserContent ul {
  
}

div.autosize {
  display: table;
  width: 1px;
}

div.autosize>div {
  display: table-cell;
  max-height: 30px !important;
  overflow-x: auto;
}

div.browserContent ul li {
  cursor: pointer;
}

div.browserSelection {
  height: 60px;
  padding-left: 15px;
  overflow: auto;
  border: 1px solid black;
  padding-top: 5px;
}

div.browserSelection ul li img {
  cursor: pointer;
}

div.browserButtons {
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

input.browserSaveButton,input.browserCancelButton {
  float: right;
  margin-right: 4px;
}

.addRootBtn {
  margin-right: 10px;
}

div#ontologyFields {
  height: 100%;
  overflow: auto;
  margin-top: 9px;
}

table.ontologyFields {
  margin-top: 5px;
  margin-bottom: 15px;
  white-space: nowrap;
  border-collapse: collapse
}

table.ontologyFields th {
  padding: 3px;
  font-weight: bold;
}

table.ontologyFields td {
  padding: 3px;
}

input.browserOpenBtn {
  float: left;
  margin-right: 5px;
}

.calculated {
  text-decoration: overline;
}

.browserLauncher {
  display: none;
}

#yui-picker-controls {
  display: none;
}

.ontologyDisplay {
  height: 12px;
  padding: 1px 3px 1px 3px;
  width: 280px;
  background-color: white;
  border: 1px solid black;
  display: inline;
  cursor: pointer;
}

#dateGroupSelection {
  margin-left: 5px;
}

.defaultFieldTerm {
  margin: 5px 0px;
}

#availableLayers {
  cursor: move;
}

.baseLayer {
  background-color: white;
}

#leftColumn {
  margin: 5px;
}

#categoryList {
  margin: 10px 2px;
}

#slider-bg {
  background: url(imgs/bg-fader.gif) 5px 0 no-repeat;
}

div.legendColor {
  margin-left: auto;
  margin-right: auto;
}

table.legend {
  cursor: move;
}

table.legend td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.irs_header {
  width: 865px;
}

.irs_header td {
  vertical-align: top;
}

#planningCalculator th,#planningCalculator td {
  padding: 0 10px;
  width: 190px;
}

#planningCalculator dt {
  margin-bottom: 5px;
}

#planningCalculator dd {
  margin-bottom: 30px;
}

#planningCalculator input[disabled="disabled"] {
  color: black;
}

span.paginationSpan a:link {
  text-decoration: none;
}

span.paginationSpan a:visited {
  text-decoration: none;
}

span.paginationSpan a:active {
  text-decoration: none;
}

span.currentPage a:link {
  text-decoration: underline;
}

span.currentPage a:visited {
  text-decoration: underline;
}

span.currentPage a:active {
  text-decoration: underline;
}

/* MdForm Admin Page */
.header-placeholder { /* Remove */
  background: #ca1413;
  width: 100%;
  height: 85px;
  float: left;
}

#workflowTree {
  padding: 5px;
}

/* Side bar for tree */
.form-side-bar {
  width: 250px;
  float: left;
}
.tree {
  padding: 20px 0px 0px 48px;
  margin: 0px;  
}
.tree li {
  background-image: url(/DDMS/imgs/icon-file.png);
  background-repeat: no-repeat;
  list-style-type: none;    
  padding: 0px 0px 0px 20px;
  height: 25px;
  color: #777;
}


/* Form */
.form-content {
  float: left;  
  padding: 50px 25px 25px 25px;
}
.form-content h4 {
  margin: 0px;
  color: #333;
}
.form-content-box {
  border: solid 1px #d5d6d7;
  padding: 25px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 700px;
  background-image: url(/DDMS/imgs/form-content-background.gif);
  background-repeat: repeat-x;
  margin: 0px 0px 25px 0px; 
}
.form-row {
  margin: 0px;
  padding: 0px;
  height: 50px; 
}
.form-row li {
  width: 175px;
  height: 50px;
  list-style-type: none;
  float: left;
}
.form-row label {
  font-weight: bold;
  font-size: 13px;
  display: block;
  color: #5a5a5a;
}
.form-action-row {
  clear: right;
  text-align: right;
  height: 30px;
}
.tabbed-form-box {
  border: solid 1px #d5d6d7;    
  padding: 25px 0px 0px 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; 
  width: 750px;
  background-image: url(/DDMS/imgs/form-content-background.gif);
  background-repeat: repeat-x;
  margin: 60px 0px 25px 0px;    
}
.tabbed-form-box .tabs {
  margin: -61px 0px 0px -1px;
  padding: 0px;
  height: 30px;
}
.tabbed-form-box .tabs li {
  display: block;
  width: 100px;
  height: 25px; 
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.tabbed-form-box .tabs-on {
  border-right: solid 1px #d5d6d7;  
  border-top: solid 1px #d5d6d7;  
  border-left: solid 1px #d5d6d7; 
  background: #FFF; 
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;      
}
.tabbed-form-box .tabs li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
#availableFieldList li:hover
{
	font-weight: bold;
	background: #999999;
	color: #666666;
	cursor: pointer;
}
.form-item-row {
  border-top: solid 1px #d5d6d7;  
  margin: 0px;
  padding: 0px; 
}
.form-item-row li {
  position: relative;
  list-style-type: none;
  display: block;
  width: 725px;
  height: 55px;
  padding: 25px 0px 0px 25px;
  background: url('/DDMS/imgs/form-row-item-back.gif') repeat-x;
  border-bottom: solid 1px #d5d6d7;
  cursor: pointer;
}
.form-item-row .form-item-row-delete {
  position: absolute;
  top: 25px;
  right: 25px;
  display: block;
  height: 0px;
  width: 24px;
  overflow: hidden;
  padding: 24px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: url('/DDMS/imgs/button-delete.png') no-repeat 0px 0px;
}
.form-item-row .form-item-row-delete:hover {
  background-position: 0px -50px;
}
#fieldsTab .form-top-action-row {
  height: 20px;
}

.form-top-action-row {
  clear: right;
  width: 700px;
  padding: 20px;
  position: relative;
}

div.addConditionSection {
  border-bottom: 1px solid #D5D6D7;
  height: 25px;
  padding-top: 5px;
}

div.groupDropTarget {
  background: url('/DDMS/imgs/icons/add.png') no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

/* Buttons */
.create-new-form-button {
  display: block;
  height: 31px;
  width: 203px;
  background: url('/DDMS/imgs/create-button-background.png') no-repeat 0px 0px;
  text-decoration: none;  
  color: #4e4e4e;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 0px 0px 45px;
  margin: 0px;
  border: solid 1px #d5d6d7;
}
.create-new-form-button:hover {
  background-position: 0px -50px;
}
.form-standard-button {
  background: url('/DDMS/imgs/standard-button-back.png') repeat-x 0px 0px;
  display: block;
  width: 100px;
  height: 25px;
  padding: 10px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #FFF;
  -moz-border-radius: 4px;
  border-radius: 4px; 
  float: right;
}
.form-standard-button:hover {
  background-position: 0px -50px;
}
.form-button-done {
  background: url('/DDMS/imgs/standard-button-back.png') repeat-x 0px -5px;
  display: block;
  width: 100px;
  height: 20px;
  padding: 5px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #FFF;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}
.form-button-done:hover {
  background-position: 0px -55px;
}
.form-button-add {
  background: url('/DDMS/imgs/button-add.png') no-repeat 0px 0px;
  display: block; 
  position: absolute;
  padding: 3px 0px 0px 30px;
  top: 22px;
  right: 10px;
  display: block;
  height: 23px;
  color: #333;
  text-decoration: none;
}

.condition-button-add {
  background: url('/DDMS/imgs/button-add.png') no-repeat 0px 0px;
  padding: 10px 0px 0px 30px;
  height: 23px;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.viewConditions {
  height: 400px;
  overflow: auto;
  padding-right: 5px;
  margin-top: 15px;
}

.form-button-add:hover {
  background-position: 0px -50px;
}
.form-dialog-scroll dl {
  min-height: 200px;
	max-height: 400px;
	overflow: auto;
	padding: 8px;
}
.condition-dialog-scroll dl {
  margin-top: 5px;
	overflow: auto;
	padding: 8px;
}
.form-gen-available-pages {
	margin: 0 1em;
  cursor: pointer;
}
.form-gen-total-pages {
  margin: 1em 0;
}

div.generatorContent {
  margin-left: 15px;
}

#tableContainer, #formContainer {
  margin: 15px 0px 15px 0px;
}

#tableContainer th {
  cursor: pointer;
}

h2.fieldTitle {
  color: #666666;
  margin: 0px;
}

span.generatedViewCommand:hover {
  color: blue;
  cursor: pointer;
}

.boolean-field-container * {
  margin-right: 5px;
}

/*---------------------------------------------------------------*/ /*   DO NOT PUT ANYTHING BELOW THE PRINT SYTLES                */ /*---------------------------------------------------------------*/
@media screen {
  .printOnly {
    display: none;
  }
}

@media print {
  body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 800px;
    text-align: left;
  }
  div.browserSearch {
    height: 25px;
    padding-left: 15px;
    padding-top: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  #navContainer {
    display: none;
  }
  #uploadLogo img {
    display: none;
  }
  .header {
    display: none;
  }
  .hTitle {
    display: none;
  }
  #freeText {
    display: none;
  }
  .pageFooter {
    display: none;
  }
  .first-of-type {
    display: none;
  }
  input[type="button"],input[type="submit"] {
    display: none;
  }
  .yui-dt-hidden {
    display: none;
  }
  th.yui-dt-hidden>div>span {
    display: none;
  }
  div.yui-dt-bd>table>thead>tr>th {
    display: none;
  }
  div.yui-dt-bd>table>tbody>tr>td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  div.yui-dt-hd>table>thead>tr>th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  div.yui-dt-bd {
    width: 55em;
  }
  div.yui-dt-hd {
    width: 55em;
  }
  div.yui-dt-bd>table {
    width: 100%;
  }
  div.yui-dt-hd>table {
    width: 100%;
  }
  .noprint {
    display: none;
  }
  .fldContainer {
    border: 0px solid black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .fcTop {
    border: 2px solid black;
    border-width: 2px 0 0 0;
    margin-left: 0px;
    padding: 12px 12px 12px 12px;
  }
}
/*---------------------------------------------------------------*/ /*   DO NOT PUT ANYTHING BELOW THIS LINE, PUT CHANGES ABOVE THE PRINT STYLES  */ /*---------------------------------------------------------------*/