
<h2 class="section-title"><localize key="query.mapping.header"></localize></h2>

<div id="app-container" class="container bordered">

  <div *ngIf="mappings === null">
    <localize key='query.mappings.loadingData'></localize>
  </div>
  
  <div *ngFor="let result of results" class="fade-ngRepeat-item">
    <div class="export-results">
      <div class="status-box">
        <label>{{result.name}} <localize key='dhis2.exportstatus'></localize> {{result.status}}</label>
      </div>
      
      <div class="stats-box">
  	    <div class="metadata-stats-box">
  		    <label><localize key='dhis2.metadatastats'></localize></label>
  		    <table>
  		      <tr><td><localize key='dhis2.created'></localize></td><td>{{result.metadataStats.created}}</td></tr>
  		      <tr><td><localize key='dhis2.updated'></localize></td><td>{{result.metadataStats.updated}}</td></tr>
  		      <tr><td><localize key='dhis2.ignored'></localize></td><td>{{result.metadataStats.ignored}}</td></tr>
  		      <tr><td><localize key='dhis2.deleted'></localize></td><td>{{result.metadataStats.deleted}}</td></tr>
  		      <tr><td><localize key='dhis2.total'></localize></td><td>{{result.metadataStats.total}}</td></tr>
  		    </table>
  	    </div>
  	    
  	    <div class="data-stats-box">
  		    <label><localize key='dhis2.datastats'></localize></label>
  		    <table>
  		      <tr><td><localize key='dhis2.created'></localize></td><td>{{result.dataStats.created}}</td></tr>
  		      <tr><td><localize key='dhis2.updated'></localize></td><td>{{result.dataStats.updated}}</td></tr>
  		      <tr><td><localize key='dhis2.ignored'></localize></td><td>{{result.dataStats.ignored}}</td></tr>
  		      <tr><td><localize key='dhis2.deleted'></localize></td><td>{{result.dataStats.deleted}}</td></tr>
  		      <tr><td><localize key='dhis2.total'></localize></td><td>{{result.dataStats.total}}</td></tr>
  		    </table>
  	    </div>
  	  </div>
      
      <div class="log-info-box">
        <label><localize key='dhis2.logloc'></localize> {{result.logLocation}}.</label>
      </div>
    </div>
  </div>
  
  <div class="list-table-wrapper">
    <table id="manage-datasets-table" class="list-table table table-bordered table-striped">        
      <thead>
        <tr>
          <th class="label-column"><localize key='query.mappings.export'></localize></th>
          <th class="label-column"><localize key='query.mappings.remove'></localize></th>
          <th class="label-column"><localize key='query.mappings.dataset'></localize></th>
        </tr>
      </thead>    
      <tbody>
        <tr *ngFor="let mapping of mappings" class="fade-ngRepeat-item">
          <td  class="button-column">
            <div style="padding-left: 45%">
              <boolean-field [(value)]="mapping.xport"></boolean-field>
            </div>
          </td>
          <td class="button-column">
            <a class="fa fa-trash-o ico-remove" [title]="'query.mappings.removeTooltip' | localize"
               confirm-modal 
               [message]="'query.mappings.removeContent' | localize"
               (onConfirm)="remove(mapping, $event)"></a>
          </td>
          <td class="label-column" style="width: 95%;"> {{ mapping.label }} </td>
        </tr>
        <tr>
          <td class="button-column" colspan="2">
            <a class="fa fa-plus" (click)="newInstance()" [title]="'query.mappings.createTooltip' | localize"></a>
          </td>
          <td class="label-column"></td>
        </tr>
      </tbody>    
    </table>
  </div>
  <div class="row">
    <div class="col-sm-4 pad-left">
      <div class="row">
        <input type="button" [value]="'query.mappings.selectAll' | localize" class="btn" (click)="selectAll()" />                            
        <input type="button" [value]="'query.mappings.selectNone' | localize" class="btn" (click)="selectNone()" />                                    
      </div>    
    </div>
    <div class="col-sm-6">
      <label><localize key='query.mappings.strategy'></localize></label>    
      <select class="select-box" [(ngModel)]="strategy" name="strategy">
        <option value="CREATE_AND_UPDATE"><localize key='query.mappings.both'></localize></option>
        <option value="CREATE"><localize key='query.mappings.new'></localize></option>
        <option value="UPDATE"><localize key='query.mappings.updates'></localize></option>
      </select>             
    </div>
    <div class="col-sm-2">    
      <div class="holder">
        <div class="button-holder">
          <input type="button" [value]="'query.mappings.upload' | localize" class="btn btn-default btn-primary" (click)="upload()" />                            
        </div>
      </div>
    </div>
  </div>
</div>
