.select-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 32px;
    float: none;
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    width: 250px;
}

.pad-left {
    padding-left: 31px;	
}

.export-results {
	border-width: 1px;
	border-style: solid;
	border-color: green;
	margin-left: 12%;
	margin-right: 10%;
}

.stats-box {
	width: 300px;
	margin: 0 auto;
	padding-left: 50px;
}

.metadata-stats-box {
	float:left;
	margin-right: 50px;
}

.data-stats-box {
	
}

.log-info-box {
	margin: 5px;
	text-align: center;
}

.status-box {
	text-align: center;
	margin: 5px;
}
